DJANGO_SECRET_KEY=replace-this-in-development
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

MONGO_DB_NAME=brecho_manager
MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_USERNAME=
MONGO_PASSWORD=
MONGO_AUTHENTICATION_SOURCE=admin
